html {
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
}

#root {
  flex: 1;
  overflow: scroll;
}

.schedule-control-section {
  height: 100%;
}

.col-lg-9.control-section {
  height: 100%;
}

.control-wrapper {
  height: 100%;
}

.e-control.e-schedule {
  height: 100%;
}

.rbc-time-slot {
  text-align: left;
}

.rbc-timeslot-group {
  position: relative;
  min-height: 100px;
  min-width: 86px;
}

.rbc-label.rbc-time-header-gutter {
  max-width: 86px !important;
  min-width: 86px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
}

.item_options {
  font-weight: 500;
  font-size: 15;
  transition: all ease 0.3s;
}

.item_options:hover {
  background: grey;
}

.rbc-current-time-indicator {
  background: red;
}

.rbc-day-slot.rbc-time-column {
  z-index: 11;
}
